section#stockists {
  &, a {
    color: $white;
  }

  .strain-desktop-shadow {
    z-index: -1;
  }

  .section-inner {
    padding: 120px 0;
    text-align: center;  
  }

  .stockist-list {
    @include list-reset;
    margin-top: 2.5rem;
    max-width: 100%;
    @include clearfix;

    @media (min-width: $screen-sm-min) {
      margin-top: 5.5rem;
    }

    address {
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-bottom: 30px;
      float: left;

      @media (min-width: $screen-xs-min) {
        // Grid of 2 columns
        width: 50%;
        padding: 0 10px;
        &:nth-child(2n+1) {
          clear: left;
        }
      }

      @media (min-width: $screen-sm-min) {
        // Grid of 3 columns
        width: 33%;
        &:nth-child(2n+1) {
          clear: none; // remove clearing from the MQ above
        }
        &:nth-child(3n+1) {
          clear: left; 
        }
      }
    }
  }

  .coming-soon {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 40px;
  }
}