<footer>
  <div class="container">
    <div class="footer-social">
      <a href="#" class="instagram">Instagram</a>
      <a href="#" class="contact" data-overlay="#overlay-contact">Contact Us</a>
      <a href="#" class="facebook">Facebook</a>
    </div>
    <ul class="footer-links">
      <li><a href="#" data-overlay="#overlay-privacy">Privacy Policy</a></li>
      <li><a href="#" data-overlay="#overlay-terms">Terms &amp; Conditions</a></li>
    </ul>
    <div class="copyright">&copy; Green Street Sugar Company 2016</div>
  </div>
</footer>

@@include('./overlay--contact.html')
@@include('./overlay--privacy.html')
@@include('./overlay--terms.html')
@@include('./overlay--nutrition-facts.html')