<meta property="og:title" content="Green Street Sugar Co. @@if (title !== "") { | @@title }" />
<meta property="og:site_name" content="Green Street Sugar Co"/>
<meta property="og:url" content="http://greenstreetsugar.com@@url" />
<meta name="description"
      content="Official website of Green Street Sugar Co.  
              @@if (description !== "") { @@description }" />
<meta property="og:description" 
      content="Official website of Green Street Sugar Co.  
              @@if (description !== "") { @@description }" />

