<div id="overlay-nutrition-facts" class="overlay" tabindex="-1" role="dialog" aria-hidden="true">
    <a href="#" class="overlay-close" title="Close">&times;</a>
    <div class="overlay-content-container">
      <div class="overlay-content">
        <div class="nutrition-concentrations">
            <div class="concentration one-oz">
                <div class="size">1oz Jar</div>
                <div class="amount">225</div>
                <div class="amount-label">mg THC</div>
            </div>
            <div class="concentration six-oz">
                <div class="size">6oz Jar</div>
                <div class="amount">1350</div>
                <div class="amount-label">mg THC</div>
            </div>
        </div>
        <div class="overlay-title">Nutrition Facts</div>
        <ul class="nutrition-fact-list">
            <li>Serving Size 3.5g</li>
            <li><div class="fact-label">Calories</div> 15</li>
            <li><div class="fact-percent">% Daily Value*</div></li>
            <li><div class="fact-label">Total Fat</div> 0g <div class="fact-percent">0%</div></li>
            <li><div class="fact-label">Sodium</div> 0g <div class="fact-percent">0%</div></li>
            <li>
                <div class="fact-label">Total Carbohydrate</div> 4g <div class="fact-percent">1%</div>
                <ul class="nutrition-fact-list">
                    <li>Sugars 4g</li>
                </ul>
            </li>
            <li><div class="fact-label">Protein</div> 4g</li>
        </ul>
        *Percent Daily Values are based on a 2,000 calorie diet.
        <p class="ingredients-list"><strong style="display:block">Ingredients</strong>Sugar, Cannabis Oil</p>
      </div>
    </div>
</div>
