<section id="stockists">
  <div class="section-background section-background--stockists"></div>
  <div class="container">
    <div class="section-inner">
      <h2 class="section-heading">Stockists</h2>
      <ul class="section-text stockist-list">
        <li>
          <h4>Dispensary</h4>
          <address>
            5651 Wilshire Blvd, Suite B<br />
            Los Angeles, CA, 90036<br />
            <a href="tel:+13236551090">(323)-655-1090</a>
          </address>
        </li>
        <li>
          <h4>Dispensary</h4>
          <address>
            5651 Wilshire Blvd, Suite B<br />
            Los Angeles, CA, 90036<br />
            <a href="tel:+13236551090">(323)-655-1090</a>
          </address>
        </li>
        <li>
          <h4>Dispensary</h4>
          <address>
            5651 Wilshire Blvd, Suite B<br />
            Los Angeles, CA, 90036<br />
            <a href="tel:+13236551090">(323)-655-1090</a>
          </address>
        </li>
      </ul>
    </div>
  </div>
</section>