<div class="strains-mobile">
  <div class="strain-mobile-images">
    <div class="strain-mobile-images-bg"></div>
    <div class="strain-mobile-image-list">
      <div class="strain-mobile-image" data-color="#A4C4D1">
        <img src="/images/jar-indica-small.jpg" />
      </div>
      <div class="strain-mobile-image" data-color="#FEC746">
        <img src="/images/jar-sativa-small.jpg" />
      </div>
      <div class="strain-mobile-image" data-color="#A3D282">
        <img src="/images/jar-hybrid-small.jpg" />
      </div>
    </div>
  </div>
  <div class="strain-mobile-infos">
    <div class="strain-mobile-infos-shadow"></div>
    <div class="strain-mobile-info bg-indica current">
      <div class="strain-mobile-info-inner">
        <div class="strain-mobile-info-inner-2">
          <h2 class="section-heading">Indica</h2>
          <p>
            These strains tend to be more sedating and relaxing, offering a full-body high. Therefore, most prefer indica strains for nighttime use and to treat insomnia and anxiety.
          </p>
          <p>
            Indica strains also tend to have the strongest analgesic effect so are typically chosen to battle chronic pain and muscle spasms.
          </p>
        </div>
      </div>
    </div>
    <div class="strain-mobile-info bg-sativa">
      <div class="strain-mobile-info-inner">
        <div class="strain-mobile-info-inner-2">
          <h2 class="section-heading">Sativa</h2>
          <p>
            Considered more for daytime use, sativa strains produce an energized, cerebral high.
          </p>
          <p>
            Due to its uplifting and euphoric effect, sativas are chosen to treat ailments such as fatigue, depression, and other mood disorders.
          </p>
        </div>
      </div>
    </div>
    <div class="strain-mobile-info bg-hybrid">
      <div class="strain-mobile-info-inner">
        <div class="strain-mobile-info-inner-2">
          <h2 class="section-heading">Hybrid</h2>
          <p>
            Individuals seeking the optimal balance of effects, hybrid strains accomplish just that.  They offer the perfect combination of both mind and body relief.
          </p>
          <p>
            Cannabis is a complex plant, offering an array of benefits to its consumers.  The combinations of strains are endless as are the medical utility, effect, and potency of every strain.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>