<div class="strains-desktop">
  <div class="strain">
    <!-- div class="strain-desktop-shadow"></div -->
    <div class="strain-inner bg-indica">
      <div class="strain-column strain-column--first">
        <div class="strain-column-inner">
          <div class="strain-image">
            <img src="/images/jar-indica.jpg" />
          </div>
        </div>
      </div>
      <div class="strain-column strain-column--last">
        <div class="strain-column-inner">
          <div class="strain-column-inner-2">
            <div class="section-strain-info">
              <h2 class="section-heading">Indica</h2>
              <div class="section-text">
                <p>
                  These strains tend to be more sedating and relaxing, offering a full-body high. Therefore, most prefer indica strains for nighttime use and to treat insomnia and anxiety.
                </p>
                <p>
                  Indica strains also tend to have the strongest analgesic effect so are typically chosen to battle chronic pain and muscle spasms.
                </p>
              </div>
              <div class="pyramid-logo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strain">
    <div class="strain-desktop-shadow"></div>
    <div class="strain-inner bg-sativa">
      <div class="strain-column strain-column--first">
        <div class="strain-column-inner">
          <div class="strain-image">
            <img src="/images/jar-sativa.jpg" />
          </div>
        </div>
      </div>
      <div class="strain-column strain-column--last">
        <div class="strain-column-inner">
          <div class="strain-column-inner-2">
            <div class="section-strain-info">
              <h2 class="section-heading">Sativa</h2>
              <div class="section-text">
                <p>
                  Considered more for daytime use, sativa strains produce an energized, cerebral high.
                </p>
                <p>
                  Due to its uplifting and euphoric effect, sativas are chosen to treat ailments such as fatigue, depression, and other mood disorders.
                </p>
              </div>
              <div class="pyramid-logo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strain">
    <div class="strain-desktop-shadow"></div>
    <div class="strain-inner bg-hybrid">
      <div class="strain-column strain-column--first">
        <div class="strain-column-inner">
          <div class="strain-image">
            <img src="/images/jar-hybrid.jpg" />
          </div>
        </div>
      </div>
      <div class="strain-column strain-column--last">
        <div class="strain-column-inner">
          <div class="strain-column-inner-2">
            <div class="section-strain-info">
              <h2 class="section-heading">Hybrid</h2>
              <div class="section-text">
                <p>
                  Individuals seeking the optimal balance of effects, hybrid strains accomplish just that.  They offer the perfect combination of both mind and body relief.
                </p>
                <p>
                  Cannabis is a complex plant, offering an array of benefits to its consumers.  The combinations of strains are endless as are the medical utility, effect, and potency of every strain.
                </p>
              </div>
              <div class="pyramid-logo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>