<div class="strains-mobile">
  <img src="/images/jar-duo-indica-small.jpg" class="strain-mobile-image" />
  <div class="strain-mobile-info bg-indica">
    <h2 class="section-heading">Indica</h2>
    <p>
      These strains tend to be more sedating and relaxing, offering a full-body high. Therefore, most prefer indica strains for nighttime use and to treat insomnia and anxiety.
    </p>
    <p>
      Indica strains also tend to have the strongest analgesic effect so are typically chosen to battle chronic pain and muscle spasms.
    </p>
    <div class="strain-nutition-link">
      <a href="#" data-overlay="#overlay-nutrition-facts" class="btn">Nutrition Facts</a>
    </div>
    <div class="pyramid-logo"></div>
  </div>
  <img src="/images/jar-duo-sativa-small.jpg" class="strain-mobile-image" />
  <div class="strain-mobile-info bg-sativa">
    <h2 class="section-heading">Sativa</h2>
    <p>
      Considered more for daytime use, sativa strains produce an energized, cerebral high.
    </p>
    <p>
      Due to its uplifting and euphoric effect, sativas are chosen to treat ailments such as fatigue, depression, and other mood disorders.
    </p>
    <div class="strain-nutition-link">
      <a href="#" data-overlay="#overlay-nutrition-facts" class="btn">Nutrition Facts</a>
    </div>
    <div class="pyramid-logo"></div>
  </div>
  <img src="/images/jar-duo-hybrid-small.jpg" class="strain-mobile-image" />
  <div class="strain-mobile-info bg-hybrid">
    <h2 class="section-heading">Hybrid</h2>
    <p>
      Individuals seeking the optimal balance of effects, hybrid strains accomplish just that.  They offer the perfect combination of both mind and body relief.
    </p>
    <p>
      Cannabis is a complex plant, offering an array of benefits to its consumers.  The combinations of strains are endless as are the medical utility, effect, and potency of every strain.
    </p>
    <div class="strain-nutition-link">
      <a href="#" data-overlay="#overlay-nutrition-facts" class="btn">Nutrition Facts</a>
    </div>
    <div class="pyramid-logo"></div>
  </div>
</div>